

.homeWrapper h2{
    text-align: right;
    margin-top: 60px;
    margin-bottom: 20px;
}


.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles a{
    width: 24%;
}